spring:
  datasource:
    url: ${db-url}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${db-username}
    password: ${db-password}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true


logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG

#OpenTelemetry : off
otel:
  sdk:
    disabled: true
management:
  otlp:
    metrics:
      export:
        enabled: false
    logging:
      export:
        enabled: false
    tracing:
      export:
        enabled: false
